@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #2f2f2f;
    --text-dark: #18181b;
    --text-light: #71717a;
    --white: #ffffff;
    --max-width: 1300px;
    --header-font: "Lora", serif;
    --color1: #DDE6ED;
    --color2: #27374D;   
    --color3: #526D82;      
    --color4: #FF597B;       
    --color5: #f3254e;
    --color6: #62CDFF;
    --color7: #0099cc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #18181b;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

